html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

#songSection img {
  width: 20px;
  height: 20px;
}

#controls img {
  width: 50px;
  height: 50px;

}

.modal-content img {
  width: 30px;
}

.soundtrackSection {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.playlist{
  border-color: black;
}

.videoPadding {
  min-height: 100px;
}

.videoPaddingSm {
  min-height: 70px;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(270deg, #46d5da, #e951d9, #5851e9);
  background-size: 600% 600%;
  animation: change 20s ease infinite;
}

.modal-body {
  font-size: 20px;
}

.modal-body a{
  color: black;
}

.modal-body a:visited{
  color: black;
}

.modal-body a:hover{
  text-decoration: none;
}

.modal-body .row {
  padding-bottom: 5px;
}

#signature{
  width: 100%;
  height: auto;
}

@keyframes change {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.minHeightAdj{
  min-height: 90vh;
}

.anchor {
    display: block;
    position: relative;
    top: -3.5rem;
}

.modal-content.custom {
  border-radius: 0;
  font-family: 'Quicksand', sans-serif;
}

#mp3Player {
  font-family: 'Quicksand', sans-serif;
}

#mp3Player .row {
  border-top: solid gray;
  border-top-width: 1px;
  padding: 5px;
}

#mp3Player .row:first-child{
  border: none;
}

#mp3Player .row:first-child:hover{
  none;
}

#play-pause {
  padding: 5px;
  width: 50px;
}

#next-song {
  padding: 5px;
  width: 50px;
}

#previous-song {
  padding: 5px;
  width: 50px;
}

#mp3Player .row:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

#music_footer {
  width: 100%;
  /* height: 50px; */
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: 10px;
}

#controls {
  margin-bottom: -8px;
}

#songSection {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(216,252,252,1) 25%, rgba(221,230,255,1) 50%, rgba(237,216,255,1) 75%, rgba(255,255,255,1) 100%);
}

/* style for the progress bar */
#progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: #000000;
  border-radius: 25px;
  height: 5px;
  position:relative;
  bottom: 2px;
}

/* style for the progress bar's slider thumb */
#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: 0px;
    margin-left: 0px;
    height: 12px;
    width: 12px;
    border: 0;
    background: white;
    border-radius: 30px;
    /* cursor: pointer; */
}

/* style to remove blue shade of the progress bar when clicked on/selected */
#progress-bar:focus {
    outline: none;
}

#controls img:hover {
  opacity: 70%;
}

#paddedBar{
  padding-bottom: 12px;
}

@include media-breakpoint-up(xs) {
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}
